* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

header {
    background-color: #222222;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

main {
    background-color: #E5E5E5;;
}

footer {
    background-color: #222222;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 9px 11px;
}

.box {
    padding: 18px 10px;
    align-content: space-around;
}

footer {
    bottom: 0;
    padding: 10px 20px;
    background-color: #222222;
    color: #F3F3F3;
}

.box-2 {
    padding: 10px 10px;
}

.texto-encima {
    position: absolute;
    top: 50px;
    left: 70px;
    font-size: 30px;
}

h2 {
    color: #FC200C;
}

span {
    color: white;
}

.container2 {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.sect-2 {
    border-radius: 10px;
    padding-left: 4px;
}

.img-2 {
    width: 730px;
    height: 543px;
}

.sect-3 {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 730px;
    height: 543px;
}

.p-pizza {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.pizzas {
    font-weight: bold;
    font-size: 18px;
}

.img-falling {
    width: 100px;
    height: 139px;
}

.img-pz2 {
    width: 240px;
    height: 110px;
    padding: 43px 39px;
}

.p-5 {
    font-size: 25px;
    padding-top: 70px;
    padding-left: 135px;
    padding-bottom: 35px;
}

.content-pizz {
    display: flex;
    justify-content: space-around;
}

.sp {
    padding-bottom: 15px;
}